**/bin
**/obj
**/node_modules
**/packages
**/.vs

scv-api/[Bb]in/
scv-api/[Oo]bj/
scv-web/.DS_Store
scv-web/node_modules
scv-web/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.user
*.suo
*.ntvs*
*.sw?

# Visual Studio Code
scv-api/.vscode